/* Estilos para el contenedor principal del formulario */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura completa de la pantalla */
    margin: 0; /* Eliminar márgenes por defecto */
    font-family: 'Arial', sans-serif; /* Fuente */
  }
  
  /* Estilos generales para el formulario */
  form {
    background-color: #f2f2f2; /* Color de fondo */
    padding: 20px; /* Relleno interno */
    border-radius: 5px; /* Bordes redondeados */
    width: 100%;
    max-width: 500px; /* Ancho máximo del formulario */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    box-sizing: border-box; /* Incluir padding y border en el cálculo del ancho */
  }
  
  /* Estilos para el título del formulario */
  form h3 {
    text-align: center; /* Centrar el texto */
    margin-bottom: 20px; /* Espacio inferior */
    color: #333; /* Color del texto */
  }
  
  /* Estilos para los campos de entrada */
  form input[type="text"] {
    width: calc(100% - 20px); /* Ocupa todo el ancho disponible */
    padding: 10px; /* Relleno interno */
    margin: 10px 0; /* Espacio entre los campos */
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; /* Bordes redondeados */
    box-sizing: border-box; /* Incluir padding y border en el cálculo del ancho */
  }
  
  /* Estilos para el botón de envío */
  form button[type="submit"] {
    background-color: #FFD700; /* Color de fondo verde */
    color: white; /* Texto en blanco */
    padding: 10px 20px; /* Relleno interno */
    border: none; /* Sin borde */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar el ratón */
    display: block; /* Botón como bloque */
    margin: 20px auto 0; /* Centrar el botón */
  }
  
  /* Estilos para el botón al pasar el ratón */
  form button[type="submit"]:hover {
    background-color: #DAA520; /* Color de fondo verde oscuro */
  }
  