.menu {
    background-color: #333;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
  }
  
  .menu a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
  }
  
  .menu a:hover {
    background-color: #575757;
    border-radius: 5px;
  }
  
  .menu a:active {
    background-color: #4CAF50;
    border-radius: 5px;
  }
  

  body {
    padding-top: 4rem; 
  }